* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  position: sticky;
}

a:hover {
  font-weight: lighter;
  font-weight: bolder;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.producto{
  display: inline;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

#header{
  color: white;
  text-shadow: black 1px 0 10px;
  font-size: 25px;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}