h1 {
    width: auto;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
  }

.blue {
    color: blue;
}

.red {
    color: red;
}

#display {
    border: 2px solid lightblue;
    padding: 10px;
}

#info_css {
    float: left;
    background-color: lightblue;
    border-radius: 10px;
    border-style: solid;
    width: 47%;
    height: auto;
    margin-left: 7px;
}

#msgs_css {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    width: 47%;
    height: auto;
    display: inline-block;
    margin-left: 7px;
}

#infoIP {
    font-size: 18px;
}

#infoUSERS {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}