*{
    font-style: bold;
    font: sans-serif;
}

h1 {
    width: auto;
    padding: 20px;
    background-color: rgb(203, 220, 177);
    border-radius: 2px;
    text-align: center;
    border-style: solid;
  }


  
#display {
    border: 2px solid lightblue;
    padding: 10px;
    overflow-x: scroll;
}


.blue {
    color: rgb(26, 5, 141);
}

#infoIP {
    font-size: 18px;
}

#msgs_css {
    background-color: white;
    border-radius: 2px;
    border-style: solid;
    width: 58%;
    display: inline-block;
    margin-left: 4px;  
}

#info_css {
    float: left;
    background-color: lightblue;
    border-radius: 2px;
    border-style: solid;
    width: 34%;
    height: auto;
    margin-left: 3px;
    padding: 4px;
    font-size: 15px;
}

#infoUSERS {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}